#root {
    height: 100vh;
}

body {
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: darkkhaki;
}

.main {
    display: flex;
    flex-direction: column;
}

input {
    width: 480px;
    margin: 0 auto auto 0;
    outline: none;
    font-style: italic;
    padding: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}